
.container{
    padding: 0px 30px ;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
        
}
#container-de-descricao {
    margin: 10px 5px 8px 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
#container-sobre{
    margin: 10px 30px 8px 200px;
    font-family: "Roboto", sans-serif;
}
.experiencia{
    margin: 50px 50px 8px 230px;
    width: 800px;
    height: 25px;
    background-color: #74CBBA;
    color: white;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
    display:block;
    margin: 10px 5px 5px 600px;
    font-family: "Roboto", sans-serif;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.botao-vermelho{
    background-color: #d40a0a;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    display:block;
    margin: 10px 5px 8px 600px;
    font-family: "Roboto", sans-serif;
}

.botao-vermelho:hover {
    background-color: #d35544f3;
}

table {
    width: 70%;
    margin-left: 250px;
    font-family: "Roboto", sans-serif;
}


td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
    font-family: "Roboto", sans-serif;
}

#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    margin-left:  1050px;
    font-family: "Roboto", sans-serif;
}

#back-button:hover {
    background-color: #635a3d
}

td button:hover {
    background-color: #ece57e
}

#advance-button {
    background-color: rgb(51, 178, 201);
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    margin-left:  1050px;
    font-family: "Roboto", sans-serif;
}

#advance-button:hover {
    background-color: #635a3d
}

